.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 729px;
    background-color: lavender;
}
.content>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 240px;
    margin: 0 25px;
    box-shadow: 0 2px 16px 0 #D9E1F6;
    border-radius: 8px;
    background-color: white
}
.content a{
    display: block;
    width: 96px;
    height: 30px;
    text-align: center;
    color: white;
    margin-top: 24px;
    padding: 3px 0;
    border-radius: 12px;
    box-shadow: 0 2px 16px 0 #D9E1F6;
    background-color: darkblue;
    outline: none;
    text-decoration: none;
}
.image>img{
    width: 96px;
    height: 96px;
}