<div class="content">
    <div class="source-info">
        <div class="image"><img src="../assets/image/source1.jpg"></div>
        <a routerLink = "/source">牧场上链</a>
    </div>
    <div class="process-info">
        <div class="image"><img src="../assets/image/process.jpg"></div>
        <a routerLink = "/process">加工上链</a>
    </div>
    <div class="log-info">
        <div class="image"><img src="../assets/image/log.jpeg"></div>
        <a routerLink = "/logistics">配送上链</a>
    </div>
    <div class="product-query">
        <div class="image"><img src="../assets/image/query.jpg"></div>
        <a routerLink = "/productInfos">产品查询</a>
    </div>
</div>
